.board-game{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 5rem 0rem 1rem 0rem;             
    gap: 20px;
    margin-top: 5rem;
}                           